/* reset */
$min-width: 320px; 
$max-width: 1494px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.3; 
$base-font-family: 'Heebo', sans-serif;
$default-transition:all 0.2s linear;


/* main variables */
$color-dark:#1A1A1A;
$color-green:#ABD037;
$color-white:#fff;
$color-grey: #565656;
$color-yellow:#FFC702;
$color-orange:#FF8717;




